
#cuerpo_index{

	margin: 0 auto;
	width: 75%;

	background-color: red;
}

#seguidor{

	position: absolute;

	width: 150px;
	height: 150px;
	background-color: yellow;
}

h1{

	margin: 0 auto;
}

#encabezado{

	width: 100%;

	background-color: blue;
}

#cuerpo{

	width: 100%;
}